.note {
  display: flex;
  flex-direction: column;
  z-index: 1;
  background: #ffffff;
  color: #000000;
  border-radius: 10px;

  &__description {
    flex: 1 1 auto;
  }

  &__tags {
    display: flex;
    justify-content: center;
  }

  &__tag {
    margin-right: 10px;
  }
}