.dashboard {
  padding: 20px;
  display: grid;
  grid-template-areas:
    'title title'
    'pie bar'
    'notes notes';
  grid-template-rows: minmax(60px, auto) 1fr;

  &__title {
    font-size: 24px;
    color: #fff;
    grid-area: title;
    margin-bottom: 20px;
  }

  &__bar {
    grid-area: bar;
  }

  &__pie {
    grid-area: pie;
  }

  &__notes {
    margin-top: 20px;
    grid-area: notes;
    display: flex;
    flex-direction: column;
  }

  &__bar-chart {
    position: relative;
    left: -65px;
  }
}