.dashboard {
  padding: 20px;
  display: grid;
  grid-template-areas:
    'title title'
    'pie bar';
  grid-template-rows: minmax(100px, auto) 1fr;

  &__title {
    font-size: 24px;
    color: #fff;
    grid-area: title;
  }

  &__bar {
    grid-area: bar;
  }

  &__pie {
    grid-area: pie;
    display: flex;
    align-items: center;
  }
}