.aside {
  padding: 20px 0;
  height: auto;
  width: 50px;
  background-color: rgba(87, 87, 172, 0.918);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  &__icon {
    width: 25px;
    height: 25px;
  }

  &__icon-wrapper {
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;

    &--active {
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 50%;
    }
  }
}