#root {
  height: 100%;
}

.App {
  min-height: 100%;
  display: grid;
  grid-template: 1fr / 50px 1fr;
  gap: 4px;
  padding: 20px;
}

.view {
  display: grid;
  grid-template-rows: auto 1fr;
  background-color: rgba(87, 87, 172, 0.918);
  border-radius: 4px;
}

.main {}